.content {
    width: 1280px;
    margin: auto;
    padding: 63px 100px 30px;

}

.title {
    display: flex;
    color: #4BCAFF;
    font-size: 80px;
    text-decoration: none;
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
}

.title .color {
    color: black;
    font-size: 80px;
}

.menu {
    display: flex;
    height: 69px;
    background-color: #35444F;
    padding-left: 160px;
}

.menu .item {
    display: flex;
    align-items: center;
    font-weight: 400px;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    padding: 0 40px;
    border-left: 1px solid #FFFFFF;
}

.menu .last {
    border-right: 1px solid #FFFFFF;
}

.menu .item .hover {
    display: none;
    top: 30px;
}

.menu .item:hover {
    background-color: #222F3A;
}

.menu .item:hover .hover {
    display: block;
}

.aside {
    display: flex;
    padding-top: 50px;
}

.container .sub-menu {
    background: white;
    border: 1px solid #000000;
    width: 344px;
    height: 400px;
    padding: 0;
    margin: 0;
}

.container .sub-menu .item {
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #485863;
    height: 81px;
    padding-left: 44px;
}

.container .sub-menu .item .hover {
    display: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    margin-left: 20px;
}

.container .sub-menu .item:hover {
    padding-left: 70px;
    background: #DBDBDB;
}

.container {
    display: flex;
}

.container .sub-menu .item:hover .hover {
    display: block;
}

.container .page {
    margin-left: 50px;
    width: 885px;
    padding-top: 50px;
}

.container .page .image-container {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 529px;
    width: 885px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
}

img {
    transition: transform 0.5s;
  }
  
  .image-container:hover img {
    transform: scale(1.1);
  }

.paragraph {
    color: #2C2C2C;
    font-size: 18px;
    margin-top: 35px;
}

.footer {
    display: flex;
    background-color: rgba(99, 105, 110, 0.48);
    margin-top: 50px;
    height: 69px;
  }
  
  .footer .footer-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer .item {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #0C1927;
    margin-left: 50px;
    
  }
  
  .footer .item .hover {
    display: none;
    font-size: 18px;
    position: absolute;
    left: 32px;
    right: 0;
    text-align: flex-start;
  }
  
  .footer .item:hover {
    color: #3181A6;
    text-decoration: underline #3181A6;
    text-underline-offset: 13px;
  }
  
  .footer .item:hover .hover {
    display: block;
  }
  
  .footer .text {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 40px;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
  }