* {
    margin: 0;
    padding: 0;
}

.wraper {
display: grid;
grid-template-columns: 1fr 2fr 1fr;
grid-auto-rows: minmax(100px, auto);
grid-gap: 10px;
justify-items: start;
}

.wraper > div {
padding: 1em;
background-color: pink;
}

.wraper > div.special {
   padding: 1em;
   background-color: brown; 
}

