@mixin flex-center  {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
	
@mixin flex-between-center  {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@mixin flex-column-center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@mixin flex-column-start {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
