.big-box {
   width: 1280px;
   margin: auto;
}

a {
   color: #FF0000;
   text-decoration: none;
}

li {
   list-style: none;
}

.header {
   font-family: 'Montserrat';
   display: flex;
   justify-content: space-between;
   padding: 25px;
   padding-right: 330px;
   padding-left: 330px;
   align-items: center;
   text-transform: uppercase;
}

.fhoto {
   background-image: url('../img/image\ 1.png');
   background-repeat: no-repeat;
   background-size: cover;
   height: 789px;
   width: 100%;
}

.main {
   position: absolute;
   width: 1280px;
   height: 650px;
}

.headline {
   position: absolute;
   width: 774px;
   height: 29px;
   left: 253px;
   top: 48px;
   
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 700;
   font-size: 22px;
   line-height: 27px;
   display: flex;
   align-items: flex-end;
   letter-spacing: 3.3px;
   text-transform: uppercase;
   
   color: #373737;
}

.paragraph_1 {
   /* color: #373737;
   font-size: 16px;
   padding-left: 68px;
   padding-right: 68px;
   padding: 8px;
   margin-left: 67px;
   margin-right: 67px; */
   position: absolute;
   width: 1145px;
   height: 132px;
   left: 67.5px;
   top: 115px;

   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 26px;
   /* or 162% */

   text-align: center;
   letter-spacing: 2.4px;

   color: #373737;
}

.paragraph_2 {
   position: absolute;
   width: 1145px;
   height: 216px;
   left: 67.5px;
   top: 275px;
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 26px;
   text-align: center;
   letter-spacing: 2.4px;
   color: #373737;
}


.button {
   color: #fff;
   border: 0;
   position: absolute;
   width: 191px;
   height: 51px;
   left: 544.5px;
   top: 557px;
   background: #FF0000;
   border-radius: 0px;
}

.footer {
   position: absolute;
   width: 462px;
   height: 39px;
   left: 608px;
   top: 1558px;
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 20px;
   display: flex;
   align-items: center;
   justify-content: flex-end;
   letter-spacing: 2.4px;
   color: #373737;
   
}