$color_link_hover: #57A4A4;
$main_dark_color_text: #4E4E4E;
$secondary_dark_color_text: #5C5C5C;
$third_dark_color_text: #7C7C7C;
$main_light_color_text: #FEFEFE;
$secondary_light_color_text: #B9B9B9;