<section class="section__recent-posts">
	<div class="container">
		<h2 class="section__title recent-posts__title">- our Recent posts</h2>
		<div class="recent-posts__items--wrapper">
			<div class="recent-posts__item--wrapper">
				<div class="recent-posts__img--wrapper">
					<img src="./img/recentPosts/post-img 1.png" alt="Tea on table">
				</div>
				<div class="recent-posts__item--text-content">
					<h3 class="recent-posts__item--title">Aenean Adipiscing Etiam Vestibulum</h3>
					<span class="recent-posts__item--comment">Photography, Journal / 9 Comments</span>
					<p class="recent-posts__item--descr">Etiam porta sem malesuada euismod. Aenean leo
						quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
				</div>
			</div>
			<div class="recent-posts__item--wrapper">
				<div class="recent-posts__img--wrapper">
					<img src="./img/recentPosts/post-img 2.png" alt="Tablet on table">
				</div>
				<div class="recent-posts__item--text-content">
					<h3 class="recent-posts__item--title">Aenean Adipiscing Etiam Vestibulum</h3>
					<span class="recent-posts__item--comment">Photography, Journal / 9 Comments</span>
					<p class="recent-posts__item--descr">Etiam porta sem malesuada euismod. Aenean leo
						quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
				</div>
			</div>
			<div class="recent-posts__item--wrapper">
				<div class="recent-posts__img--wrapper">
					<img src="./img/recentPosts/post-img 3.png" alt="People with colorful umbrellas in motion.">
				</div>
				<div class="recent-posts__item--text-content">
					<h3 class="recent-posts__item--title">Aenean Adipiscing Etiam Vestibulum</h3>
					<span class="recent-posts__item--comment">Photography, Journal / 9 Comments</span>
					<p class="recent-posts__item--descr">Etiam porta sem malesuada euismod. Aenean leo
						quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
				</div>
			</div>
			<div class="recent-posts__item--wrapper">
				<div class="recent-posts__img--wrapper">
					<img src="./img/recentPosts/post-img 4.png" alt="Roses in a bucket outside.">
				</div>
				<div class="recent-posts__item--text-content">
					<h3 class="recent-posts__item--title">Aenean Adipiscing Etiam Vestibulum</h3>
					<span class="recent-posts__item--comment">Photography, Journal / 9 Comments</span>
					<p class="recent-posts__item--descr">Etiam porta sem malesuada euismod. Aenean leo
						quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
				</div>
			</div>
		</div>
	</div>
</section>
